html {
  background: url("../assets/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  head {
    display: none;
  }

  body {
    margin: 0;
    padding: 2%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .main {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: aliceblue;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;

      input {
        border-radius: 5px;
        border: rgba($color: #1c1c1c, $alpha: 0.5) 0.1mm solid;
        background-color: rgba($color: #1c1c1c, $alpha: 1);
        padding: 10px;
        color: aliceblue;
      }

      h1 {
        font-family: "Franklin Gothic Medium";
        text-shadow: rgba($color: #000000, $alpha: 0.5) 1mm 5px 5px;
      }

      hr {
        margin: 5% auto;
      }

      button#play {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: aquamarine;
      }
    }
  }
}
